#mail-template-editor-container {
    height: 250px;
    position: relative;
    margin-top: -10px;
}

#mail-template-editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fancybox-container__mail-template-preview .fancybox-content{
    width: 650px;
    height: 800px;
}

.fancybox-container__mail-template-preview .fancybox-content iframe{
    padding: 20px;
}